.backgrounds {
    display: flex;
    margin-bottom: 30px;
}

.slide-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.slide-list li {
    width: 100px;
    height: 50px;
    margin-right: 15px;
}

.slide-list li:hover {
    outline: 2px solid #adacac
}

.slide-list li img {
    width: 100%;
}